<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="style.css"/>
    <title>View All Categories</title>
</head>
<body>
    <h1>FPT Book store</h1>
    <div class = "bar">
        <a href="adminHome">Menu</a>
        <a href="/admin/addCategory">Add Category</a>
        <a href="/admin/addProduct">Add Book</a>
        <a href="/">Logout</a> 
    </div>
    <h2>View all products</h1>
    <ul>
        <center>
        <table border="1" cellspacing="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
            {{#each category}}
            <tr>
                <td>
                    {{name}}  
                </td>
                <td>
                    {{description}}
                </td>
                <td>
                    <a onclick="return confirm('Are you sure you want to delete this product?')" href="/deleteCategory?id={{_id}}">Delete</a>
                    <br>
                    <a href ="/editCategory?id={{_id}}">Edit</a>
                </td>
            </tr>
            {{/each}}
        </thead>
        </table>
        </center>
    </ul>
</body>
</html>