<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register a new user</h1>
    <form method="post" action="register">
        User Name : <input type="text" name="txtName">
        <br>
        Role: 
        <select name="Role">
            <option value="Admin">Admin</option>
            <option value="Customer">Customer</option>
        </select>
        <br>
        Password:
        <input type="password" name="txtPassword">
        <br>
        Re-enter your password:
        <input type="repass" name="txtRePass">
        <br>
        Full name: <input type="text" name="txtFullName">
        <br>
        Address: <input type="text" name="txtAddress">
        <br>
        Phone numbers: <input type="text" name="txtPhone">
        <br>
        Gmail: <input type="text" name="txtGmail">
        <input type="submit" value="Register">
    </form>
</body>
</html>